:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

#reset-btn {
  width: 200px;
  height: 70px;
  margin-top: 2rem;
  border-radius: 2em;
  font-size: 1.5em;
}

.canvas {
  width: 700px;
  height: 700px;
  border: 5px solid hotpink;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.canvas-block {
  text-align: center;
}
